repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [css, javascript, jsx, tsx, json, markdown]
        additional_dependencies:
          - prettier@3.2.5

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.17.0
    hooks:
      - id: eslint
        files: \.(jsx?|tsx?)$
        types: [file]
        additional_dependencies:
          - eslint@9.39.1
          - "@eslint/js@9.39.1"
          - eslint-plugin-react-hooks@7.0.1
          - eslint-plugin-react-refresh@0.4.24
          - globals@16.5.0
